@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  font-size: 16px;

  // Fonts
  --font-primary: "PT Sans", sans-serif;
  --font-secondary: "PT Serif", serif;

  // Colors
  --bg-main: #ffffff;
  --text-primary: #040404;
  --accent-primary: #86ddf3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-main);
  font-family: var(--font-primary);
  display: grid;
  place-items: center;
}

.container {
  max-width: 1400px;
  min-width: 400px;
  display: grid;
  place-items: center;
}

header {
  text-align: center;
  color: var(--bg-main);
  background-image: url(/assets/header.jpg);
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 300px;
  display: grid;
  justify-items: center;

  h1 {
    font-family: var(--font-secondary);
    font-weight: 200;
    align-self: end;
  }
}

main {
  width: 80%;
  display: grid;
}

footer {
  width: 80%;
}

// Mobile
@media only screen and (max-width: 768px) {
}

// Intermediate
@media only screen and (min-width: 768px) {
}

// Large
@media only screen and (min-width: 1024px) {
}
