@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  font-size: 16px;

  // Fonts
  --font-primary: "PT Sans", sans-serif;
  --font-secondary: "PT Serif", serif;

  // Colors
  --bg-main: #ffffff;
  --text-primary: #040404;
  --accent-primary: #86ddf3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-main);
  font-family: var(--font-primary);
  display: grid;
  place-items: center;
  min-width: 400px;
}

.container {
  max-width: 1400px;
  min-width: 400px;
  display: grid;
  place-items: center;
}

header {
  text-align: center;
  color: var(--bg-main);
  background-image: url(/assets/header.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  display: grid;
  justify-items: center;
  padding: 0 10px 0;

  h1 {
    font-family: var(--font-secondary);
    font-size: calc(14px + 3vw);
    font-weight: 200;
    align-self: end;
  }
}

.subtitle {
  width: 80%;
  max-width: 85ch;
  padding: 2%;
  text-align: center;
}

main {
  display: grid;
  gap: 20px 20px;
  padding: 20px;

  img {
    background-position: center;
    background-size: cover;
  }

  // Grid areas
  .box-1 {
    grid-area: box-1;
  }
  .box-2 {
    grid-area: box-2;
  }
  .box-3 {
    grid-area: box-3;
  }
  .box-4 {
    grid-area: box-4;
  }
  .img-1 {
    grid-area: img-1;
    background-image: url(/assets/step-1.jpg);
  }
  .img-2 {
    grid-area: img-2;
    background-image: url(/assets/step-2.jpg);
  }
  .img-3 {
    grid-area: img-3;
    background-image: url(/assets/step-3-4.jpg);
  }
  .article-1 {
    grid-area: article-1;
  }
  .article-2 {
    grid-area: article-2;
  }
  .article-3 {
    grid-area: article-3;
  }
  .article-4 {
    grid-area: article-4;
  }

  article {
    justify-items: center;
    text-align: center;

    h2 {
      align-self: center;
    }
  }
}

article {
  display: grid;
  padding: 10px;

  h2 {
    text-transform: uppercase;
    font-family: var(--font-secondary);
  }
}

.box {
  background-color: var(--accent-primary);
  color: var(--bg-main);
  font-family: var(--font-secondary);
  padding: 20px;
  display: grid;

  h1 {
    font-size: calc(24px + 8vw);
    font-weight: 200;
    place-self: center;
  }
}

footer {
  display: grid;
  padding: 10px;
  min-width: 400px;

  article {
    h2 {
      max-width: 10ch;
      padding-top: 30px;
      margin-bottom: -30px;
      font-size: calc(18px + 2vw);
    }

    p {
      align-self: start;
      max-width: 45ch;
    }
  }

  img {
    background-position: center;
    background-size: cover;
  }

  // Grid Areas
  .footer__article {
    grid-area: footer__article;
  }
  .footer__img {
    grid-area: footer__img;
    background-image: url(/assets/footer.jpg);
  }
  .footer__buzz {
    grid-area: footer__buzz;
  }
}

// Mobile
@media only screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 1fr);
    grid-template-areas:
      "box-1"
      "article-1"
      "img-1"
      "box-2"
      "article-2"
      "img-2"
      "box-3"
      "article-3"
      "img-3"
      "box-4"
      "article-4";
  }
}

// Intermediate and Mobile
@media (max-width: 1024px) {
  header {
    width: 95%;
  }

  footer {
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(350px, auto) minmax(30px, auto) minmax(
        350px,
        auto
      );
    gap: 0px 0px;
    grid-template-areas:
      "footer__article"
      "footer__buzz"
      "footer__img";

    h1 {
      font-size: calc(38px + 5vw);
      color: var(--accent-primary);
      text-align: center;
    }
  }
}

// Intermediate
@media only screen and (min-width: 768px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.1fr 0.8fr 1.4fr 0.8fr 1fr 1.3fr 0.7fr 0.9fr 1fr;
    grid-template-areas:
      "box-1 article-1"
      "img-1 box-2"
      "article-2 box-2"
      "article-2 img-2"
      "box-3 img-2"
      "box-3 article-3"
      "img-3 article-3"
      "img-3 box-4"
      "article-4 box-4";
  }
}

// Large
@media only screen and (min-width: 1024px) {
  header {
    width: 80%;
  }

  main {
    width: 80%;
    grid-template-columns: 0.85fr 0.95fr 1.2fr;
    grid-template-rows:
      minmax(250px, auto) minmax(300px, auto) minmax(300px, auto)
      minmax(150px, auto);
    grid-template-areas:
      "box-1 article-1 img-1"
      "img-2 box-2 article-2"
      "box-3 article-3 img-3"
      "article-4 box-4 img-3";
  }

  footer {
    width: 80%;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(500px, auto);
    grid-template-areas: "footer__article footer__img";

    h1 {
      position: absolute;
      font-size: calc(12px + 4vw);
      color: var(--accent-primary);
      bottom: 5%;
      left: 50%;
      transform: translate(-50%);
      text-align: center;

      span {
        color: var(--bg-main);
      }
    }
  }
}
