@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  font-size: 16px;
  --font-primary: "PT Sans", sans-serif;
  --font-secondary: "PT Serif", serif;
  --bg-main: #ffffff;
  --text-primary: #040404;
  --accent-primary: #86ddf3;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-main);
  font-family: var(--font-primary);
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-width: 400px;
}

.container {
  max-width: 1400px;
  min-width: 400px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

header {
  text-align: center;
  color: var(--bg-main);
  background-image: url(/assets/header.jpg);
  background-position: center;
  background-size: cover;
  width: 80%;
  height: 300px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 0 10px 0;
}

header h1 {
  font-family: var(--font-secondary);
  font-size: calc(14px + 3vw);
  font-weight: 200;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.subtitle {
  width: 80%;
  padding: 2%;
  text-align: center;
}

main {
  width: 80%;
  display: -ms-grid;
  display: grid;
  gap: 20px 20px;
  padding: 20px;
}

main img {
  background-position: center;
  background-size: cover;
}

main .box-1 {
  grid-area: box-1;
}

main .box-2 {
  grid-area: box-2;
}

main .box-3 {
  grid-area: box-3;
}

main .box-4 {
  grid-area: box-4;
}

main .img-1 {
  grid-area: img-1;
  background-image: url(/assets/step-1.jpg);
}

main .img-2 {
  grid-area: img-2;
  background-image: url(/assets/step-2.jpg);
}

main .img-3 {
  grid-area: img-3;
  background-image: url(/assets/step-3-4.jpg);
}

main .article-1 {
  grid-area: article-1;
}

main .article-2 {
  grid-area: article-2;
}

main .article-3 {
  grid-area: article-3;
}

main .article-4 {
  grid-area: article-4;
}

main article {
  justify-items: center;
  text-align: center;
}

main article h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

article {
  display: -ms-grid;
  display: grid;
  padding: 10px;
}

article h2 {
  text-transform: uppercase;
  font-family: var(--font-secondary);
}

.box {
  background-color: var(--accent-primary);
  color: var(--bg-main);
  font-family: var(--font-secondary);
  padding: 20px;
  display: -ms-grid;
  display: grid;
}

.box h1 {
  font-size: calc(24px + 8vw);
  font-weight: 200;
  place-self: center;
}

footer {
  width: 80%;
  display: -ms-grid;
  display: grid;
  padding: 10px;
  min-width: 400px;
}

footer article h2 {
  max-width: 10ch;
  padding-top: 30px;
  margin-bottom: -30px;
  font-size: calc(18px + 2vw);
}

footer article p {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  max-width: 45ch;
}

footer img {
  background-position: center;
  background-size: cover;
}

footer .footer__article {
  grid-area: footer__article;
}

footer .footer__img {
  grid-area: footer__img;
  background-image: url(/assets/footer.jpg);
}

footer .footer__buzz {
  grid-area: footer__buzz;
}

@media only screen and (max-width: 768px) {
  main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[11];
        grid-template-rows: repeat(11, 1fr);
        grid-template-areas: "box-1" "article-1" "img-1" "box-2" "article-2" "img-2" "box-3" "article-3" "img-3" "box-4" "article-4";
  }
}

@media (max-width: 1024px) {
  footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: minmax(350px, auto) minmax(30px, auto) minmax(350px, auto);
        grid-template-rows: minmax(350px, auto) minmax(30px, auto) minmax(350px, auto);
    gap: 0px 0px;
        grid-template-areas: "footer__article" "footer__buzz" "footer__img";
  }
  footer h1 {
    font-size: calc(24px + 5vw);
    color: var(--accent-primary);
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 0.9fr 1.2fr 0.9fr 1fr 1.3fr 0.7fr 1fr 1fr;
        grid-template-rows: 1fr 0.9fr 1.2fr 0.9fr 1fr 1.3fr 0.7fr 1fr 1fr;
        grid-template-areas: "box-1 article-1" "img-1 box-2" "article-2 box-2" "article-2 img-2" "box-3 img-2" "box-3 article-3" "img-3 article-3" "img-3 box-4" "article-4 box-4";
  }
}

@media only screen and (min-width: 1024px) {
  main {
    -ms-grid-columns: 0.8fr 1fr 1.2fr;
        grid-template-columns: 0.8fr 1fr 1.2fr;
    -ms-grid-rows: minmax(200px, auto) minmax(300px, auto) minmax(300px, auto) minmax(150px, auto);
        grid-template-rows: minmax(200px, auto) minmax(300px, auto) minmax(300px, auto) minmax(150px, auto);
        grid-template-areas: "box-1 article-1 img-1" "img-2 box-2 article-2" "box-3 article-3 img-3" "article-4 box-4 img-3";
  }
  footer {
    position: relative;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: minmax(500px, auto);
        grid-template-rows: minmax(500px, auto);
        grid-template-areas: "footer__article footer__img";
  }
  footer h1 {
    position: absolute;
    font-size: calc(12px + 4vw);
    color: var(--accent-primary);
    bottom: 5%;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
  }
  footer h1 span {
    color: var(--bg-main);
  }
}
/*# sourceMappingURL=style.css.map */